<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="qkmaxware" value="https://nuget.pkg.github.com/qkmaxware/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <qkmaxware>
            <add key="Username" value="%GITHUB_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" /> <!-- Public Download Key -->
        </qkmaxware>
    </packageSourceCredentials>
</configuration>